.blog-img{
    width: 634px;
    height:500px;
}
.fixed-height{
    min-height: 770px;
    position: relative;
}
.position{
    color: rgb(3, 153, 58);
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@media only screen and (max-width:576px){
    .blog-img{
        width: 300px;
        height:400px;
    }
    .fixed-height{
        min-height: 800px;
        position: relative;
    }
}