.b-ground{
    background-image: url(../../assets/bg3.png),linear-gradient(45deg,
    rgba(72, 39, 179, 0.75),
    rgba(8, 156, 146, 0.75));
    background-size: cover;

}
.b-ground2{
    background-color: rgba(53, 47, 57, 0.166);
}
.size{
    width: 700px;
    height: 800px;
}

@media only screen and (max-width:576px){
  
    .size{
        width: 300px;
        height: 400px;
    }
}
