@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Lato:wght@700&family=Mynerve&display=swap');

.bg-img{
    background-image: url('../../../assets/blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.font{
    font-size: 70px;
}
.food-slogan{
    font-family:'Caveat', 'cursive';
    color: white; 
    
}
.nav-link{
    
    margin-right: 40px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(229, 171, 53);
    font-weight: bold;
}
.nav-link:hover{
    color: rgb(46, 220, 185);
}